---
interface Props {
    text: string;
    url: string | URL;
    centro?: boolean;
}
const { url, text, centro } = Astro.props;
const texto = text.toLocaleLowerCase();
---

<a
    href={url}
    aria-label={`esto es para ${texto}`}
    class:list={[
        "w-full max-w-60 h-fit mx-auto text-nowrap flex gap-2 items-center bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-2 sm:px-4 rounded transition-colors cursor-pointer",
        { "justify-center": centro },
        { "justify-between": !centro },
    ]}
    title={`puedes ${texto}`}
>
    <slot name="izquierda" />
    <span class="truncate max-w-full">
        {text}
    </span>
    <slot name="derecha" />
</a>
