---
interface Props {
    text: string;
    id: string;
    to?: string;
    button?: boolean;
}
const { text, id, to, button } = Astro.props;
---

<section class="relative">
    {
        button ? (
            <button
                data-popover-trigger="hover"
                data-popover-placement="right"
                data-popover-target={id ?? "popover-1"}
                class:list={[
                    `${to} flex items-center justify-center px-1 sm:px-3 py-2 text-slate-900 dark:text-slate-50 transition-colors duration-300 transform rounded hover:text-white cursor-pointer dark:hover:text-black`,
                    {
                        "hover:bg-orange-500 dark:hover:bg-orange-400":
                            id !== "pop-user",
                    },
                ]}
            >
                <slot name="svg">
                    <svg
                        class="min-w-5 w-5"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                </slot>
            </button>
        ) : (
            <a
                data-popover-trigger="hover"
                data-popover-placement="right"
                data-popover-target={id ?? "popover-1"}
                class:list={[
                    "flex items-center px-1 sm:px-3 py-2 text-slate-900 dark:text-slate-50 transition-colors duration-300 transform rounded hover:text-white dark:hover:text-black",
                    {
                        "hover:bg-orange-500 dark:hover:bg-orange-400":
                            id !== "pop-user",
                    },
                ]}
                href={`#${to ?? "main"}`}
            >
                <slot name="svg">
                    <svg
                        class="min-w-5 w-5"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                </slot>
            </a>
        )
    }
    <div
        data-popover
        role="tooltip"
        id={id ?? "popover-1"}
        class="bg-white dark:bg-[#1a1a1a] sm:translate-x-2.5 text-nowrap rounded border border-slate-300 px-4 py-2 invisible absolute text-slate-900 dark:text-slate-50"
    >
        {text ?? "General"}
        <div data-popper-arrow></div>
    </div>
</section>
