---
import WrapperCarousel from "@/components/casa/WrapperCarousel.astro";
interface Props {
    cursosIdLinks?: string[];
}
const { cursosIdLinks } = Astro.props;
const cursos = ["7iobxzd_2wY", "qkzcjwnueLA", "nr2WVkriE4g", "Nngm8C5XCOs"];
const cursosUtils = !cursosIdLinks?.every((e, i, m) => e !== m[i + 1])
    ? cursos
    : cursosIdLinks;
---

<div id="indicators-carousel" class="relative w-full" data-carousel="static">
    {/* <!-- Carousel wrapper --> */}
    <WrapperCarousel linkCursos={cursosUtils} />

    {/* <!-- Slider indicators --> */}
    <div
        class="absolute z-30 flex -translate-x-1/2 space-x-3 bottom-5 left-1/2 *:cursor-pointer"
    >
        {
            cursosUtils.map((_, index) => (
                <button
                    type="button"
                    class="w-3 h-3 rounded-full"
                    aria-current={!index && true}
                    aria-label={`Slide ${index + 1}`}
                    data-carousel-slide-to={index}
                />
            ))
        }
    </div>
    {/* <!-- Slider controls --> */}
    <button
        type="button"
        class="absolute h-full rounded rounded-r-none top-0 start-0 z-30 flex items-center justify-center cursor-pointer bg-orange-500/50 transition-colors hover:bg-orange-500 p-3 focus:outline-none border border-r-0"
        data-carousel-prev
    >
        <svg
            class="size-[12px] sm:size-4 text-white rtl:rotate-180"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 6 10"
        >
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"></path>
        </svg>
        <span class="sr-only">Previous</span>
    </button>
    <button
        type="button"
        class="absolute h-full top-0 end-0 z-30 flex items-center justify-center p-3 cursor-pointer focus:outline-none bg-orange-500/50 transition-colors hover:bg-orange-500 border border-l-0 rounded rounded-l-none"
        data-carousel-next
    >
        <svg
            class="size-[12px] sm:size-4 text-white rtl:rotate-180"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 6 10"
        >
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"></path>
        </svg>
        <span class="sr-only">Next</span>
    </button>
</div>
