---
import Image from "astro/components/Image.astro";
import Articulo from "./secciones/Articulo.astro";
import CarouselPersonal from "@components/casa/servicios/CarouselPersonal.astro";
import { MenuAside } from "@/components/casa/MenuAside";
import { Button } from "@material-tailwind/react";
import IconBtn from "@components/casa/Btns/IconBtn.astro";
import { MediaImageList, MediaImagePlus } from "iconoir-react";
import {
    IconTwitter,
    IconGitHub,
    IconOther,
    IconFacebook,
    IconInstagram,
} from "../../assets/Icons";

interface Props {
    userNameComplete: string;
    userName: string;
    userImg: string;
    userRegister: string;
    userOccupation: string;
    userDesc: string;
    userEmail: string;
    urlGitHub: string;
    urlLinkedIn: string;
    numeroCelular: string;
    linkCursos: string[];
    urlCuentas?: string;
}
const {
    userNameComplete,
    userOccupation,
    userName,
    userImg,
    userRegister,
    userDesc,
    urlGitHub,
    userEmail,
    urlLinkedIn,
    numeroCelular,
    linkCursos,
} = Astro.props;
---

<script>
    function mostrarImagen(event: Event) {
        const archivo = (event.target as HTMLInputElement).files?.[0];
        if (archivo) {
            const url = URL.createObjectURL(archivo);
            const img = document.getElementById(
                "imagenSeleccionada",
            ) as HTMLImageElement;
            img.src = url;
            document.getElementById("preview")?.classList.remove("hidden");
        }
    }
    document
        .querySelector("#img-prompt")
        ?.addEventListener("change", mostrarImagen);
</script>
<section
    class="flex size-full rounded border bg-slate-50 size-full overflow-y-auto overflow-x-hidden scroll-smooth border-slate-200 dark:bg-[#1a1a1a]"
>
    <aside
        class="flex flex-col justify-between transition-all w-fit h-full p-2 md:p-6 overflow-visible bg-white dark:bg-[#1a1a1a] border-slate-200 z-30 sticky top-0"
    >
        <MenuAside client:load />
    </aside>

    <div
        class="w-full h-fit space-y-4 border-0 border-l border-slate-300 sm:space-y-8 bg-slate-100 dark:bg-[#1a1a1a] z-20"
    >
        <Articulo id="info-general" heading="General">
            <div class="grid grid-cols-1 gap-3 sm:gap-4 sm:grid-cols-3">
                <section
                    class="flex flex-col items-center bg-white border rounded shadow-sm lg:flex-row sm:col-span-3 lg:col-span-3 dark:bg-black/30 border-slate-300 dark:border-slate-200"
                >
                    <Image
                        height={100}
                        width={100}
                        loading="eager"
                        class="object-cover object-center rounded rounded-b-none size-full sm:h-72 lg:h-full lg:w-56 lg:rounded-bl lg:rounded-r-none"
                        src={userImg ?? "/logo.svg"}
                        alt="Imagen de perfil del usuario de la sección general registrado en la plataforma"
                        title="Imagen de perfil del usuario de la sección general registrado en la plataforma"
                    />

                    <div
                        class="flex flex-col justify-between p-4 leading-normal size-full sm:p-6"
                    >
                        <strong
                            class="block px-2 py-1 mb-4 text-xs font-medium text-center text-orange-700 transition-all bg-orange-100 border border-orange-500 rounded shadow-md sm:mb-6 ms-auto dark:bg-orange-300/15 sm:px-3 sm:py-2 dark:border-orange-500 dark:text-orange-500 w-fit text-nowrap"
                        >
                            Registrado : {userRegister ?? "12-05-2025"}
                        </strong>

                        <h3
                            class="mb-2 text-xl font-bold tracking-tight capitalize sm:text-2xl text-slate-800 dark:text-white"
                        >
                            {userName ?? "No tiene nombre"}
                        </h3>

                        <p
                            class="mb-4 font-normal sm:mb-6 text-slate-700 dark:text-slate-300 max-w-96 text-pretty"
                        >
                            {
                                userDesc ??
                                    "  Este perfil no tiene descripción, pero puedes agregarle conectándote con alguna de las plataformas."
                            }
                        </p>

                        <div
                            class="flex flex-wrap items-center justify-between gap-4 mt-4 sm:gap-6"
                        >
                            <ul
                                class="flex justify-center mx-auto space-x-2 md:mx-0 md:space-x-5"
                            >
                                <IconBtn>
                                    <IconFacebook />
                                </IconBtn>
                                <IconBtn>
                                    <IconInstagram />
                                </IconBtn>
                                <IconBtn>
                                    <IconTwitter />
                                </IconBtn>
                                <IconBtn>
                                    <IconGitHub />
                                </IconBtn>
                                <IconBtn>
                                    <IconOther />
                                </IconBtn>
                            </ul>

                            <div
                                class="grid w-full grid-cols-1 gap-4 sm:grid-cols-2 xl:w-auto"
                            >
                                <Button
                                    className="w-full shadow-md bg-orange-00 hover:bg-orange-100 dark:hover:bg-orange-300/15 hover:border-orange-500 border border-orange-500 rounded cursor-pointer hover:text-black dark:hover:text-white text-nowrap text-white text-nowrap min-w-auto sm:min-w-40"
                                >
                                    Ver Galeria
                                    <MediaImageList
                                        className="ms-2 min-w-5 size-5"
                                    />
                                </Button>
                                <Button
                                    className="w-full shadow-md bg-orange-00  hover:bg-orange-100 dark:hover:bg-orange-300/15  hover:border-orange-500 border border-orange-500 rounded cursor-pointer hover:text-black dark:hover:text-white text-nowrap text-white text-nowrap min-w-auto sm:min-w-40"
                                >
                                    Subir imagen
                                    <MediaImagePlus
                                        className="ms-2 min-w-5 size-5"
                                    />
                                </Button>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- {
                    !urlGitHub?.length ||
                    !urlLinkedIn?.length ||
                    !numeroCelular?.length ? (
                        <section class="flex flex-col items-center justify-center p-4 text-sm font-medium bg-white border rounded shadow-sm sm:col-span-3 lg:col-span-1 dark:bg-black/30 text-slate-700 dark:text-slate-200 sm:p-8 border-slate-300 dark:border-slate-200">
                            <p class="">
                                No se han encontrado cuentas vinculadas a esta
                                plataforma. pero puedes{" "}
                                <a
                                    class="text-orange-700 underline transition-colors hover:text-orange-500 underline-offset-2"
                                    href="#sin-cuentas"
                                >
                                    vincular tus cuentas
                                </a>
                            </p>
                        </section>
                    ) : (
                        <section class="relative flex items-center justify-center w-full p-4 bg-white border rounded shadow-sm sm:col-span-3 lg:col-span-1 dark:bg-orange-200 sm:p-8 border-slate-300 animate-pulse dark:border-slate-200">
                            carousel de botones
                        </section>
                    )
                } -->

                <section
                    class="w-full p-4 bg-white border rounded shadow-sm sm:col-span-3 lg:col-span-3 dark:bg-black/30 h-fit border-slate-300 dark:border-slate-200 sm:p-6"
                >
                    <header>
                        <h3
                            class="relative w-full pb-2 text-xl font-semibold text-center"
                        >
                            Selecciona una imagen
                        </h3>
                        <p class="text-slate-400 text-center mb-4 sm:mb-6">
                            Debes seleccionar una imagen para poder almacenarla
                            en nuestra base de datos.
                        </p>
                    </header>
                    <div
                        class="border border-slate-300 w-full flex flex-col gap-4 items-center min-h-[500px] relative p-4"
                    >
                        <label
                            class="cursor-pointer bg-orange-400 hover:bg-orange-500 text-white py-2 px-3 rounded text-lg size-fit"
                        >
                            <input
                                id="img-prompt"
                                type="file"
                                accept="image/*"
                                class="hidden"
                            />
                            Elegir imagen
                        </label>
                        <div
                            id="preview"
                            class="size-fit max-w-[300px] overflow-hidden rounded hidden absolute left-0 right-0 top-0 bottom-0 m-auto"
                        >
                            <img
                                id="imagenSeleccionada"
                                class="max-w-[300px] max-h-[300px] object-contain rounded cursor-pointer hover:scale-115 transition-transform duration-300 drop-shadow-md"
                                alt="Vista previa"
                            />
                        </div>
                    </div>
                    <!-- <CarouselPersonal /> -->
                </section>
            </div>
        </Articulo>

        <Articulo id="info-user" heading="Datos Personales">
            <div class="grid gap-4 md:grid-cols-2">
                <!-- Información Básica -->
                <section
                    class="overflow-hidden bg-white border rounded shadow-sm dark:bg-black/30 border-slate-200 dark:border-slate-200"
                >
                    <header
                        class="p-4 border-b sm:p-6 border-slate-200 dark:border-dark-200"
                    >
                        <h3
                            class="flex flex-wrap gap-2 text-xl font-semibold md:items-center text-slate-900 dark:text-orange-400"
                        >
                            <i class="text-orange-500">
                                <svg
                                    class="size-8"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    ><path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"></path><path
                                        d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"
                                    ></path><path
                                        d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"
                                    ></path></svg
                                ></i
                            >
                            Información Básica
                        </h3>
                    </header>

                    <div
                        class="p-4 space-y-4 sm:p-6 text-slate-900 dark:text-slate-100"
                    >
                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Nombre completo</label
                            >
                            <div class="relative">
                                <input
                                    type="text"
                                    value="Larry Antonio Ceballos Moncada"
                                    class="w-full py-3 pl-3 pr-10 text-xs transition-colors border rounded outline-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                                />
                                <button
                                    class="absolute right-2 top-1/2 transform -translate-y-1/2 rounded transition-colors hover:bg-slate-300 dark:hover:bg-[#1a1a1a] bg-slate-200 dark:bg-black/60 p-1 cursor-pointer"
                                >
                                    <i
                                        class="min-w-[20px] text-orange-500 cursor-pointer"
                                    >
                                        <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            ><path
                                                stroke="none"
                                                d="M0 0h24v24H0z"
                                                fill="none"></path><path
                                                d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                                            ></path><path
                                                d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                                            ></path><path d="M16 5l3 3"
                                            ></path></svg
                                        >
                                    </i>
                                </button>
                            </div>
                        </div>

                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Ubicación</label
                            >
                            <div class="relative">
                                <i
                                    class="absolute w-4 h-4 transform -translate-y-1/2 left-3 top-1/2 text-slate-900 dark:text-slate-300"
                                >
                                    <svg
                                        class="min-w-[20px]"
                                        width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            stroke="none"
                                            d="M0 0h24v24H0z"
                                            fill="none"></path><path
                                            d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"
                                        ></path><path
                                            d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                                        ></path>
                                    </svg>
                                </i>
                                <input
                                    type="text"
                                    value="Medellín, Colombia"
                                    class="w-full py-3 pl-10 pr-10 text-xs transition-colors border rounded outline-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                                />
                                <button
                                    class="absolute right-2 top-1/2 transform -translate-y-1/2 rounded transition-colors hover:bg-slate-300 dark:hover:bg-[#1a1a1a] bg-slate-200 dark:bg-black/60 p-1 cursor-pointer"
                                >
                                    <i
                                        class="min-w-[20px] text-orange-500 cursor-pointer"
                                    >
                                        <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            ><path
                                                stroke="none"
                                                d="M0 0h24v24H0z"
                                                fill="none"></path><path
                                                d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                                            ></path><path
                                                d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                                            ></path><path d="M16 5l3 3"
                                            ></path></svg
                                        >
                                    </i>
                                </button>
                            </div>
                        </div>

                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Teléfono</label
                            >
                            <div class="relative">
                                <i
                                    class="absolute w-4 h-4 transform -translate-y-1/2 left-3 top-1/2 text-slate-900 dark:text-slate-300"
                                >
                                    <svg
                                        class="min-w-[20px]"
                                        width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            stroke="none"
                                            d="M0 0h24v24H0z"
                                            fill="none"></path><path
                                            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                                        ></path></svg
                                    >
                                </i>
                                <input
                                    type="text"
                                    value="300 123 4567"
                                    class="w-full py-3 pl-10 text-xs transition-colors border rounded outline-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                                />
                            </div>
                        </div>

                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Correo electrónico</label
                            >
                            <div class="relative">
                                <i
                                    class="absolute w-4 h-4 transform -translate-y-1/2 left-3 top-1/2 text-slate-900 dark:text-slate-300"
                                >
                                    <svg
                                        class="min-w-[20px]"
                                        width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            stroke="none"
                                            d="M0 0h24v24H0z"
                                            fill="none"></path><path
                                            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                                        ></path><path d="M3 7l9 6l9 -6"
                                        ></path></svg
                                    >
                                </i>
                                <input
                                    type="email"
                                    value="lceballos@email.com"
                                    class="w-full py-3 pl-10 text-xs transition-colors border rounded outline-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                                />
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Dirección de residencia -->
                <section
                    class="overflow-hidden bg-white border rounded shadow-sm dark:bg-black/30 border-slate-200 dark:border-slate-200"
                >
                    <header
                        class="p-4 border-b sm:p-6 border-slate-200 dark:border-dark-200"
                    >
                        <h3
                            class="flex flex-wrap gap-2 text-xl font-semibold md:items-center text-slate-900 dark:text-orange-400"
                        >
                            <i class="text-orange-500">
                                <svg
                                    class="size-8"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    ><path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"></path><path
                                        d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"
                                    ></path><path
                                        d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                                    ></path>
                                </svg>
                            </i>
                            Dirección de residencia
                        </h3>
                    </header>
                    <div
                        class="p-4 space-y-4 sm:p-6 text-slate-900 dark:text-slate-100"
                    >
                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Dirección actual</label
                            >
                            <input
                                type="text"
                                value="Calle 45 #78-23, Apto 302"
                                class="w-full px-3 py-3 text-xs transition-colors border rounded outline-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                            />
                        </div>

                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Fecha de nacimiento</label
                            >
                            <div class="relative">
                                <i
                                    class="absolute w-4 h-4 transform -translate-y-1/2 left-3 top-1/2 text-stale-300"
                                >
                                    <svg
                                        class="min-w-[20px]"
                                        width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            stroke="none"
                                            d="M0 0h24v24H0z"
                                            fill="none"></path><path
                                            d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                                        ></path><path d="M16 3l0 4"></path><path
                                            d="M8 3l0 4"></path><path
                                            d="M4 11l16 0"></path><path
                                            d="M8 15h2v2h-2z"></path></svg
                                    >
                                </i>
                                <input
                                    type="text"
                                    value="25 de marzo de 1985"
                                    class="w-full py-3 pl-10 text-xs transition-colors border rounded outline-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                                />
                            </div>
                        </div>

                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Estado civil</label
                            >
                            <select
                                class="w-full px-3 py-3 text-xs transition-colors border rounded outline-none appearance-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                            >
                                <option value="soltero" selected>Soltero</option
                                >
                                <option value="casado">Casado</option>
                                <option value="divorciado">Divorciado</option>
                                <option value="viudo">Viudo</option>
                            </select>
                        </div>

                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Ocupación</label
                            >
                            <div class="relative">
                                <i
                                    class="absolute w-4 h-4 transform -translate-y-1/2 left-3 top-1/2 text-stale-300"
                                >
                                    <svg
                                        class="min-w-[20px]"
                                        width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            stroke="none"
                                            d="M0 0h24v24H0z"
                                            fill="none"></path><path
                                            d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z"
                                        ></path><path
                                            d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"
                                        ></path></svg
                                    >
                                </i>
                                <input
                                    type="text"
                                    value="Operador de máquina"
                                    class="w-full py-3 pl-10 text-xs transition-colors border rounded outline-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                                />
                            </div>
                        </div>

                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Nacionalidad</label
                            >
                            <div class="relative">
                                <i
                                    class="absolute w-4 h-4 transform -translate-y-1/2 left-3 top-1/2 text-stale-300"
                                >
                                    <svg
                                        class="min-w-[20px]"
                                        width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            stroke="none"
                                            d="M0 0h24v24H0z"
                                            fill="none"></path><path
                                            d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0v9a5 5 0 0 1 -7 0a5 5 0 0 0 -7 0v-9z"
                                        ></path><path d="M5 21v-7"></path></svg
                                    >
                                </i>
                                <input
                                    type="text"
                                    value="Colombiana"
                                    class="w-full py-3 pl-10 text-xs transition-colors border rounded outline-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                                />
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Información Adicional -->
            <section
                class="mt-4 overflow-hidden bg-white border rounded shadow-sm dark:bg-black/30 border-slate-200 dark:border-slate-200"
            >
                <header
                    class="p-4 border-b sm:p-6 border-slate-200 dark:border-dark-200"
                >
                    <h3
                        class="flex flex-wrap gap-2 text-xl font-semibold md:items-center text-slate-900 dark:text-orange-400"
                    >
                        <i class="text-orange-500">
                            <svg
                                class="size-8"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path><path
                                    d="M22 9l-10 -4l-10 4l10 4l10 -4v6"
                                ></path><path
                                    d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"
                                ></path></svg
                            >
                        </i>
                        Información Adicional
                    </h3>
                </header>

                <div class="p-4 sm:p-6 text-slate-900 dark:text-slate-100">
                    <div class="grid gap-4 md:grid-cols-2">
                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Nivel de educación</label
                            >
                            <select
                                class="w-full px-3 py-3 text-xs transition-colors border rounded outline-none appearance-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                            >
                                <option value="primaria">Primaria</option>
                                <option value="secundaria">Secundaria</option>
                                <option value="técnico" selected>Técnico</option
                                >
                                <option value="universitario"
                                    >Universitario</option
                                >
                                <option value="postgrado">Postgrado</option>
                            </select>
                        </div>

                        <div class="space-y-2">
                            <label
                                class="block text-sm font-semibold sm:text-base text-slate-900 dark:text-slate-300"
                                >Idiomas</label
                            >
                            <select
                                class="w-full px-3 py-3 text-xs transition-colors border rounded outline-none appearance-none bg-slate-100 dark:bg-black/40 border-slate-200 text-slate-900 dark:text-white sm:text-base focus:outline-none"
                            >
                                <option value="espanol" selected>Español</option
                                >
                                <option value="ingles">Inglés</option>
                                <option value="francés">Francés</option>
                                <option value="portugues">Portugués</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
        </Articulo>

        <Articulo id="info-config" heading=" Configuración">
            <section
                class="mb-4 overflow-hidden bg-white border rounded shadow-sm dark:bg-black/30 border-slate-200 dark:border-slate-200 sm:mb-8"
            >
                <header
                    class="p-4 border-b sm:p-8 border-slate-200 dark:border-dark-200"
                >
                    <h3
                        class="flex flex-col gap-2 text-xl font-semibold sm:flex-row sm:items-center"
                    >
                        <i class="w-8 text-orange-500 md:w-9">
                            <svg
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="min-w-[20px]"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.15.894z"
                                ></path>
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                        </i>
                        Preferencias del Sistema
                    </h3>
                </header>

                <div
                    class="p-4 mt-8 space-y-4 sm:p-8 sm:mt-16"
                    aria-label="Preferencias del sistema"
                >
                    <div
                        class="flex flex-col justify-between gap-4 md:flex-row md:items-center"
                    >
                        <div>
                            <label
                                for="idioma-sistema"
                                class="block text-sm font-medium text-slate-900 dark:text-slate-100 sm:text-base"
                            >
                                Idioma del sistema
                            </label>
                            <p
                                class="text-xs sm:text-base text-slate-700 dark:text-slate-300"
                            >
                                Seleccione el idioma de la interfaz
                            </p>
                        </div>
                        <select
                            id="idioma-sistema"
                            name="idioma"
                            class="px-4 py-2 text-xs transition-colors border rounded outline-none appearance-none cursor-pointer w-36 sm:w-44 bg-slate-100 dark:bg-black/40 border-slate-200 dark:border-slate-200 text-slate-900 dark:text-white focus:outline-none sm:text-base"
                        >
                            <option value="es" selected>Español</option>
                            <option value="en">English</option>
                            <option value="pt">Português</option>
                        </select>
                    </div>

                    <div
                        class="flex flex-col justify-between gap-4 md:flex-row md:items-center"
                    >
                        <div>
                            <label
                                for="tema-sistema"
                                class="block text-sm font-medium text-slate-900 dark:text-slate-100 sm:text-base"
                            >
                                Cambiar tema
                            </label>
                            <p
                                class="text-xs sm:text-base text-slate-700 dark:text-slate-300"
                            >
                                Selecciona el tema de la interfaz (claro u
                                oscuro)
                            </p>
                        </div>
                        <select
                            id="tema-sistema"
                            name="tema"
                            class="px-4 py-2 text-xs transition-colors border rounded outline-none appearance-none cursor-pointer w-36 sm:w-44 bg-slate-100 dark:bg-black/40 border-slate-200 dark:border-slate-200 text-slate-900 dark:text-white focus:outline-none sm:text-base"
                        >
                            <option value="light" selected>Claro</option>
                            <option value="dark">Oscuro</option>
                            <option value="system">Sistema</option>
                        </select>
                    </div>

                    <div
                        class="flex flex-col justify-between gap-4 md:flex-row md:items-center"
                    >
                        <div>
                            <strong
                                class="block text-sm font-medium text-slate-900 dark:text-slate-100 sm:text-base"
                            >
                                Vincular plataformas
                            </strong>
                            <p
                                class="text-xs sm:text-base text-slate-700 dark:text-slate-300 max-w-2xs"
                            >
                                Conecta tu cuenta con plataformas externas como
                                GitHub, LinkedIn o WhatsApp para mejorar tu
                                experiencia y sincronizar información.
                            </p>
                        </div>

                        <button
                            type="button"
                            class="w-full sm:w-44 py-2 px-4 border border-orange-500 text-orange-700 dark:text-orange-400 rounded flex justify-center items-center gap-2 bg-orange-100 dark:bg-black/30 hover:bg-orange-200 dark:hover:bg-[#1a1a1a] transition-colors font-medium capitalize cursor-pointer text-xs sm:text-base"
                        >
                            <i class="w-4 h-4 -translate-y-0.5">
                                <svg
                                    class="min-w-[20px]"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    ><path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"></path><path
                                        d="M12 10.941c2.333 -3.308 .167 -7.823 -1 -8.941c0 3.395 -2.235 5.299 -3.667 6.706c-1.43 1.408 -2.333 3.621 -2.333 5.588c0 3.704 3.134 6.706 7 6.706s7 -3.002 7 -6.706c0 -1.712 -1.232 -4.403 -2.333 -5.588c-2.084 3.353 -3.257 3.353 -4.667 2.235"
                                    ></path></svg
                                >
                            </i>
                            Conectar ahora
                        </button>
                    </div>

                    <div
                        class="pt-4 border-t border-slate-200 dark:border-slate-200"
                    >
                        <button
                            type="button"
                            class="flex items-center justify-center w-full gap-2 px-4 py-3 text-xs font-medium text-white transition-colors bg-red-600 rounded cursor-pointer hover:bg-red-700 group sm:text-base"
                        >
                            <i
                                class="w-4 h-4 transition-transform group-hover:-translate-x-1"
                            >
                                <svg
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="min-w-[20px] -translate-y-0.5"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
                                    ></path>
                                </svg>
                            </i>
                            Cerrar sesión
                        </button>
                    </div>
                </div>
            </section>
        </Articulo>
    </div>
</section>

