---
import BtnPerfil from "@components/casa/BtnPerfil.astro";
import Image from "astro/components/Image.astro";
interface Props {
    userSession: string;
    userName: string;
    userImg: string;
    entrada: {
        text: string;
        url: string;
    }[];
}
const { userSession, userName, userImg, entrada } = Astro.props;
---

<ul
    class="md:flex max-h-[60px] text-white font-medium justify-end flex-col sm:gap-2 md:gap-5 lg:gap-8 me-[10px] sm:flex-row items-center transition text-center hidden *:md:text-base *:text-nowrap *:font-normal *:lg:text-lg"
>
    {
        userSession === "true" ? (
            <>
                <BtnPerfil userName={userName ?? ""}>
                    <div slot="after">
                        <Image
                            loading="eager"
                            height="24"
                            width="24"
                            class="rounded-full"
                            src={userImg}
                            title="Imagen de perfil personalizada del usuario del menu normal"
                            alt="Imagen de perfil personalizada del usuario del menu normal"
                        />
                    </div>
                </BtnPerfil>
                <li class="bg-black py-1.5 px-4 hover:text-slate-100/80 rounded cursor-pointer cerrar-session flex items-center space-x-2">
                    <button class="cursor-pointer">Cerrar sesión</button>
                    <svg
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 -scale-x-100"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
                        />
                    </svg>
                </li>
            </>
        ) : (
            entrada.map(({ url, text }) => (
                <li
                    class:list={[
                        "px-5 py-2 mx-1 rounded border font-medium shadow-sm transition-all cursor-pointer bg-[#1a1a1a] hover:bg-slate-white border-slate-200 hover:bg-white text-white hover:border-slate-900 hover:text-slate-900",
                        {},
                    ]}
                >
                    <a href={url} class="block w-full h-full font-medium">
                        {text}
                    </a>
                </li>
            ))
        )
    }
</ul>
