---
import BtnPerfil from "@components/casa/BtnPerfil.astro";
import Image from "astro/components/Image.astro";
interface Props {
    userSession: string;
    userName: string;
    userImg: string;
    entrada: {
        text: string;
        url: string;
    }[];
}
const { userSession, userName, userImg, entrada } = Astro.props;
---

<ul
    class="md:flex max-h-[60px] text-white font-medium justify-end flex-col sm:gap-2 md:gap-5 lg:gap-8 me-[10px] sm:flex-row items-center transition text-center hidden *:md:text-base *:text-nowrap *:font-normal *:lg:text-lg"
>
    {
        userSession === "true" ? (
            <>
                <BtnPerfil userName={userName ?? ""}>
                    <div slot="after">
                        <Image
                            loading="eager"
                            height="20"
                            width="20"
                            class="rounded-full size-5"
                            src={userImg}
                            title="Imagen de perfil personalizada del usuario del menu normal"
                            alt="Imagen de perfil personalizada del usuario del menu normal"
                        />
                    </div>
                </BtnPerfil>
                <li class="group bg-black px-3 py-2 rounded flex items-center cursor-pointer *:cursor-pointer cerrar-session transition-all ">
                    <button
                        class="flex items-center gap-1 text-white group-hover:text-red-500 font-medium relative transition-colors focus:outline-none"
                        style="outline: none;"
                        aria-label="Cerrar sesión"
                    >
                        <svg
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.7"
                            stroke="currentColor"
                            class="w-5 h-5 transition-transform group-hover:-translate-x-0.5 group-hover:text-red-500"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
                            />
                        </svg>
                        <span class="relative z-10 transition-colors">
                            Cerrar sesión
                        </span>
                    </button>
                </li>
            </>
        ) : (
            entrada.map(({ url, text }) => (
                <li class="px-5 py-2 mx-1 rounded border font-medium shadow-sm transition-all cursor-pointer bg-[#1a1a1a] hover:bg-slate-white border-slate-200 hover:bg-white text-white hover:border-slate-900 hover:text-slate-900">
                    <a href={url} class="block w-full h-full font-medium">
                        {text}
                    </a>
                </li>
            ))
        )
    }
</ul>
