@import "tailwindcss";

:root {
    --bg: orange;
    --bg-black: #13151a;
    --h-mini: 50px;
}

html {
    font-family: system-ui, sans-serif;
    background: var(--bg-black);
    color-scheme: light dark;
    min-width: 320px;
}

.bg-black {
    background-color: #1a1a1a;
    }
        details {
            height: fit-content;
    
            &::details-content {
                block-size: 0;
                overflow: hidden;
                transition-property: block-size, content-visibility;
                transition-behavior: allow-discrete;
                transition-duration: .5s;
            }
    
            &[open]::details-content {
                block-size: auto;
                block-size: clac-size(auto, size);
            }
        }