---
import { db, Users } from 'astro:db';

export const prerender = false

if(Astro.request.method === "POST"){
const datos = await Astro.request.formData() 
const [apellido,nombre] = [datos.get("apellido"),datos.get("usuario")]
if(typeof nombre === "string" && typeof apellido === "string"){
    await db.insert(Users).values({ user_name:nombre,user_last_name:apellido })
}
console.log(await db.select().from(Users));
}


---

<div class="border p-2 px-4 max-h-auto">
    <h2 class="text-lg sm:text-2xl font-semibold text-center">
        Formulario de acceso
    </h2>
    <form class="text-base flex flex-col mt-4 gap-2" method="POST">
        <div>
            <label
                class="text-sm text-gray-300 font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="userName">Nombre del Usuario</label
            >
            <input
                required
                type="text"
                autocomplete="true"
                min="6"
                minlength="5"
                placeholder="Carlota*"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 text-black"
                name="usuario"
                id="userName"
            />
        </div>

        <div>
            <label
                class="text-sm text-gray-300 font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="UserPassword">Apellido de un susuario en concreto.</label
            >
            <input
                required
                type="text"
                autocomplete="true"
                min="6"
                minlength="5"
                placeholder="Ramirez*"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 text-black"
                name="apellido"
                id="UserPassword"
            />
        </div>

        <!-- <div>
            <label
                class="text-sm text-gray-300 font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="dataBase">Nombre de la Base de Datos</label
            >
            <input
                required
                placeholder="BaseDeCarlota"
                type="text"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 text-black"
                name="base-datos"
                id="dataBase"
            />
        </div> -->

        <div class="text-center mt-2">
            <button
                type="submit"
                class="bg-orange-500 min-w-20 w-auto flex-auto shadow text-white rounded-md text-sm border-y border-transparent py-2 font-semibold px-3 hover:bg-orange-500 dark:hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-300 dark:focus:ring-offset-slate-900 dark:focus:ring-orange-500"
                >Buscar Base De Datos</button
            >
        </div>
    </form>
</div>
