<article class="border p-2 px-4">
  <h2 class="text-lg sm:text-2xl font-semibold">Guía de uso</h2>
  <h3 class="py-2 text-base font-medium">Sigue estos tres sencillos pasos</h3>
  <ul class="text-sm sm:text-lg list-decimal inset-x-4 relative space-y-2">
    <li class="pe-2">
      Llena los campos requeridos para el guardado de tus datos en una BD de
      MySQL
    </li>
    <li class="pe-2">Dale al boton de guardar</li>
    <li class="pe-2">
      Ir a la pagina de Base de datos para filtrar o buscar la información
      necesaria.
    </li>
  </ul>
</article>
