---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import UsersTable from "@/components/section1/UsersTable";
---

<Layout title="Bases de datos MySQL || FetchToMySQL">
    <div class="min-h-screen">
        <h2 class="text-4xl text-slate-200 px-2 my-6">
            Estos son los usuarios registrados en mi base de datos.
        </h2>
        <div class="w-full px-2">
            <UsersTable client:load />
        </div>
    </div>
</Layout>
