---
import Layout from "../layouts/Layout.astro";
import Obtencion from "../components/Obtencion.astro";
import Muestreo from "../components/Muestreo.astro";
---

<Layout title="Busquedas de mysql || FetchToMysql">
	<main>
		<Obtencion>
			<slot name="guia" />
			<slot name="form" />
		</Obtencion>
		<Muestreo />
	</main>
</Layout>

<style>
	:root {
		--bg: white;
		--h-mini: 50px;
	}
</style>
