---
import "@styles/global.css";
import "@styles/loading.css";
import Layout from "@/layouts/Layout.astro";
import FormInicio from "@/components/react/FormInicio";
const userSession = Astro.cookies.get("usuario")?.value;
// const session = Astro.cookies.get("sessionIniciada")?.value;

if (!userSession) return Astro.redirect("/");
---

<Layout title="Inicio de sesión de MySQL || FetchToMySQL">
    <!-- Contenido -->
    <section class="h-[80vh] flex justify-center items-center">
        <div class="flex flex-col items-center justify-center flex-1 px-4">
            <article
                class="border border-orange-400 dark:border-slate-200 p-8 mt-8 bg-slate-50 dark:bg-[#1a1a1a] w-full max-w-md rounded-md shadow-lg"
            >
                <h2 class="text-2xl font-bold text-center mb-6">
                    Iniciar Sesión
                </h2>

                <FormInicio
                    userSessionInitial={userSession ?? ""}
                    client:load
                />
            </article>
        </div>
    </section>
</Layout>
