---
import Form from "@/components/react/Form";
import GuieUso from "@components/casa/GuieUso.astro";
// import FormIndex from "./casa/FormIndex.astro";
const userSesion = Astro.cookies.get("usuario")?.value;
---

<!-- Busca tus bases de datos -->
<section
    class="max-w-4xl grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-4 text-white"
>
    {
        userSesion ? (
            userSesion
        ) : (
            <>
                <GuieUso
                    h2="Bienvenidos, Fetchers!"
                    h3="Verifiquemos si tienes una cuenta, sigue estos pasos"
                    li={[
                        "Ingresa tu nombre de usuario o correo electrónico",
                        "Haz clic en el botón de inicio de sesión",
                        "¡Listo! ",
                    ]}
                />
                <article class="border p-8 flex flex-col bg-[#1a1a1a] rounded-md">
                    <h2 class="text-lg sm:text-2xl font-bold capitalize">
                        verificación de cuenta
                    </h2>
                    <Form client:load />
                </article>
            </>
        )
    }
</section>
