---
import Form from "@/components/react/Form";
import GuieUso from "@components/casa/GuieUso.astro";
import DashBoardIndex from "./casa/DashBoardIndex.astro";
const userSession = Astro.cookies.get("sessionIniciada")?.value;
const userImg = Astro.cookies.get("imagenUsuario")?.value;
const userName = Astro.cookies.get("usuario")?.value;
---

<!-- Busca tus bases de datos -->{
    userSession === "true" ? (
        <DashBoardIndex userImg={userImg ?? ""} userName={userName ?? ""} />
    ) : (
        <>
            <section class="max-w-4xl grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-4 text-white">
                <GuieUso
                    h2="Bienvenidos, Fetchers!"
                    h3="Verifiquemos si tienes una cuenta"
                    li={[
                        "Ingresa tus credenciales",
                        "Presiona 'Iniciar sesión'",
                        "¡Comienza a explorar!",
                    ]}
                />
                <article class="border p-8 flex flex-col bg-[#1a1a1a] rounded-md">
                    <h2 class="text-lg sm:text-2xl font-bold capitalize">
                        verificación de cuenta
                    </h2>
                    <Form client:load />
                </article>
            </section>
        </>
    )
}
