---
interface Props {
  h2: string;
  h3: string;
  li: string[];
}
const { h2, h3, li }: Props = Astro.props;
---

<article
  class="border border-orange-400 dark:border-slate-200 p-8 bg-slate-50 dark:bg-[#1a1a1a] rounded"
>
  <h2
    class="text-lg sm:text-2xl text-black dark:text-white font-semibold capitalize"
  >
    {h2 ?? "Guía de uso"}
  </h2>
  <h3 class="py-1 text-slate-900 dark:text-slate-300/90 text-lg font-medium">
    {h3 ?? "Sigue estos tres sencillos pasos"}
  </h3>
  <ul
    class="text-sm sm:text-lg text-slate-900 dark:text-slate-300/90 list-decimal relative space-y-1"
  >
    {li && li.map((item) => <li class="pe-2 w-fit text-base">{item}</li>)}
  </ul>
</article>
