---
interface Props{
ruta?:string|URL
}const {ruta}=Astro.props
---
<li>
  <a 
  aria-label={`Ir a ${ruta || 'la página principal'}`}
  aria-labelledby={`link-${ruta || 'main'}`}
  href={ruta||'#main'}
   class="text-black rounded-pill hover:text-orange-500 dark:hover:text-orange-500 hover:*:-translate-y-2 hover:*:scale-115 *:transition-all dark:text-slate-300 *:min-w-5 *:max-w-8 cursor-pointer *:duration-250">
    <slot>
    icono del svg default  
    </slot>
   
  </a>
</li>
